*.class
*.log

# misc
.idea/*

# Scala#
src/main/scala/.idea
src/main/scala/project/project
src/main/scala/project/target
src/main/scala/target

# C++
src/main/cpp/cmake-build-debug
src/main/cpp/.idea