*.class
*.log

# misc
.idea/*

# Scala#
code/scala/.idea
code/scala/project/project
code/scala/project/target
code/scala/target

# Java#
code/java/.idea
code/java/.gradle
code/java/build
code/java/gradlew
code/java/gradlew.bat

# C++
code/cpp/cmake-build-debug
code/cpp/.idea