*.class
*.log

# misc
.idea/*

# Scala#
target/
lib/
code/scala/.idea
code/scala/project/project
code/scala/project/target
code/scala/target

# Java#
code/java/.idea
code/java/.gradle
code/java/build

# C++
code/cpp/cmake-build-debug
code/cpp/.idea